<div>
  <app-search></app-search>
  <!-- LifeCycle Hooks -->
  <app-clock></app-clock>

  <app-slogan slogan="Exotic Products!"></app-slogan>
  <app-slogan slogan="Healthy & Cheap"></app-slogan>

  <!-- ng-content -->
  <app-tip> Eat a <strong> healthy </strong> breakfast </app-tip>

  <app-tip>
    <span class="subject">Weight R eduction</span>
    Avoid eating after <strong>9:00 PM</strong>
  </app-tip>
  <app-survey
    question="How is fg-09543our service qualify?"
    (report)="display($event)"
  ></app-survey>
  <!-- Template Reference Variable -->
  <app-location></app-location>
  <!-- Pipe -->
  <app-gift-card></app-gift-card>
  <!-- Attribute Directive -->
  <app-discount></app-discount>
  <!-- Structural Directive -->
  <app-sales></app-sales>
  <app-random-sale></app-random-sale>
</div>
